.certificate {
  background-color: #d1e2e4;
  width: 62.6rem;
  height: 7rem;
  margin-left: 3rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #152d30;
  box-shadow: 0 0.3rem 0.5rem 0 rgb(0, 0, 0, 0.2);
}

.certificate_banner {
  background-color: #29244e;
  height: 7rem;
  width: 12rem;
  border-radius: 1.5rem 0 0 1.5rem;
}

/* .certificate_info {
} */

.certificate_topic {
  font-size: 1.1rem;
  font-weight: 700;
}

.download_btn {
  height: 7rem;
  width: 5rem;
  border-radius: 0 1.5rem 1.5rem 0;
  border: none;
  background-color: transparent;
}

.download_btn:hover {
  background-color: #6c9399;
  transition: 500ms;
}
