.select_btn {
  width: 2.5rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  border-radius: 0.6rem 0.6rem 0.6rem 0.6rem;
  background-color: #d3e8eb;
  border: none;
}

.btn_bubble {
  width: 0.9rem;
  height: 0.9rem;
  background-color: white;
  border-radius: 50%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
